{% extends 'base.html.twig' %}

{% block title %}Edit {{ article.title }} {% endblock %}

{% block body %}
    <div class="row col-lg-8">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}