{% extends 'base.html.twig' %}

{% block title %}SymphArt Articles{% endblock %}

{% block body %}
    <h1>Articles</h1>
    
  
        <div class="row col-lg-8">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Article Title</th>
                            <th>Article Body</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ loop. index }} </td>
                                <td>{{ article }} </td>
                                <td> </td>
                                <td>
                                    <a href="article/1" class="btn btn-outline-dark">Show</a>
                                </td>
                            </tr>
                            {% else %}
                                <p>No Articles</p>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        

{% endblock %}